*.DS_Store
*.pyc
*ipynb_checkpoints*
*.idea/*
docs/api_docs/
docs/examples/dev/*
docs/resources/insarlab_logo*
docs/resources/mintpy_preview*
docs/resources/*.ai
docs/resources/visit_location.png
isce*
mintpy/dev/*
mintpy/modis*
site/
docs/resources/user_distribution.pdf
