# requirements.txt          for dependency installation via conda
# docs/ports.txt            for dependency installation via mac-ports
# setup.py                  for mintpy     installation via pip after the dependency installation above
python>=3.6
pip
argcomplete
cartopy
cvxopt
dask>=1.0
dask-jobqueue>=0.3
# gdal>=3     # for ISCE, ARIA, FRInGE, HyP3, GMTSAR users
h5py
joblib
lxml
matplotlib
numpy
pre-commit    # for developers
pyaps3>=0.3
pykml>=0.2
pyproj
pyresample
pysolid
rich
scikit-image
scipy
shapely
utm
