version: 2.1
jobs:
  test:
    docker:
      - image: ubuntu:bionic
        environment:
          CONDA_PREFIX: /root/tools/miniconda3
          MINTPY_HOME: /root/tools/MintPy
        user: root
    working_directory: /root/tools/MintPy
    steps:
      - checkout
      - run:
          name: Setting Environment with Miniconda
          command: |
            apt update
            apt-get update --yes && apt-get upgrade --yes
            apt-get install --yes git wget
            # download and install miniconda3
            mkdir -p ${HOME}/tools
            cd ${HOME}/tools
            wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
            chmod +x Miniconda3-latest-Linux-x86_64.sh
            ./Miniconda3-latest-Linux-x86_64.sh -b -p ${HOME}/tools/miniconda3
            ${HOME}/tools/miniconda3/bin/conda init bash
            ${HOME}/tools/miniconda3/bin/conda config --add channels conda-forge
            ${HOME}/tools/miniconda3/bin/conda install -c conda-forge --yes mamba

      - run:
          name: Installing MintPy, PyAPS and PySolid
          no_output_timeout: 30m
          command: |
            export PYTHONUNBUFFERED=1
            # setup environment variable
            export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${HOME}/tools/PyAPS:${HOME}/tools/PySolid
            export PATH=${MINTPY_HOME}/mintpy:${CONDA_PREFIX}/bin:${PATH}
            # download source code
            git clone https://github.com/yunjunz/PyAPS.git ${HOME}/tools/PyAPS
            git clone https://github.com/insarlab/PySolid.git ${HOME}/tools/PySolid
            # install dependencies
            source activate root
            mamba install --verbose --yes --file ${MINTPY_HOME}/docs/requirements.txt gdal>=3 fortran-compiler
            pip install git+https://github.com/tylere/pykml.git
            # compile pysolid Fortran code
            cd ${HOME}/tools/PySolid/pysolid
            f2py -c -m solid solid.for
            # test installation
            smallbaselineApp.py -v
            tropo_pyaps3.py -h
            solid_earth_tides.py -h

      - run:
          name: Testing MintPy on Example Dataset 1/4 - FernandinaSenDT128 (ISCE/topsStack)
          command: |
            export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${HOME}/tools/PyAPS:${HOME}/tools/PySolid
            export PATH=${MINTPY_HOME}/mintpy:${CONDA_PREFIX}/bin:${PATH}
            mkdir -p ${HOME}/data
            cd ${HOME}/data
            ${MINTPY_HOME}/test/test_smallbaselineApp.py --dir ${HOME}/data --dset FernandinaSenDT128

      - run:
          name: Testing MintPy on Example Dataset 2/4 - SanFranSenDT42 (ARIA)
          command: |
            export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${HOME}/tools/PyAPS:${HOME}/tools/PySolid
            export PATH=${MINTPY_HOME}/mintpy:${CONDA_PREFIX}/bin:${PATH}
            mkdir -p ${HOME}/data
            cd ${HOME}/data
            ${MINTPY_HOME}/test/test_smallbaselineApp.py --dir ${HOME}/data --dset SanFranSenDT42

      - run:
          name: Testing MintPy on Example Dataset 3/4 - WellsEnvD2T399 (Gamma)
          command: |
            export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${HOME}/tools/PyAPS:${HOME}/tools/PySolid
            export PATH=${MINTPY_HOME}/mintpy:${CONDA_PREFIX}/bin:${PATH}
            mkdir -p ${HOME}/data
            cd ${HOME}/data
            ${MINTPY_HOME}/test/test_smallbaselineApp.py --dir ${HOME}/data --dset WellsEnvD2T399

      - run:
          name: Testing MintPy on Example Dataset 4/4 - WCapeSenAT29 (SNAP)
          command: |
            export PYTHONPATH=${PYTHONPATH}:${MINTPY_HOME}:${HOME}/tools/PyAPS:${HOME}/tools/PySolid
            export PATH=${MINTPY_HOME}/mintpy:${CONDA_PREFIX}/bin:${PATH}
            mkdir -p ${HOME}/data
            cd ${HOME}/data
            ${MINTPY_HOME}/test/test_smallbaselineApp.py --dir ${HOME}/data --dset WCapeSenAT29

workflows:
  version: 2
  test:
    jobs:
      - test

