# requirements.txt for readthedocs, which uses pip and could not handle python>=3.6
# conda.txt        for actual installation via conda
# conda_env.yml    for actual installation via conda create environment
# ports.txt        for actual installation via mac-ports
# setup.py         for actual installation via pip [not finished yet]
cvxopt
dask>=1.0
dask-jobqueue>=0.3
defusedxml
h5py
lxml
matplotlib
numpy
pyproj
pyresample
scikit-image
scipy
